# gitignore template for Xilinx Vivado Design Suite
# website: https://www.xilinx.com/support/download.html

# Exclude all!
*

!*/
!.gitignore

# Do NOT ignore source files, including block diagrams and EDIF files
!*.vhd
!*.vh
!*.v
!*.bd
!*.edif

# Project files
!*.xpr

# Constraint files
!*.xdc

# C files
!*.c
!*.h
!*.elf
!*.bmm
!*.xmp

*/*.runs
*/*.sim
*.srcs/*.sim*/

